nav {
  position: fixed;
  top: 86px;
  background-color: black;
  width: 100%;
  padding: 10px 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 10px 400px;

  &:hover {
    color: #8c8c8c;
  }

  &.active {
    border-bottom: 3px solid darkred;
  }
}
