.q-topbar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.q-topbar {
  align-items: center;
  justify-content: center;
}

.q-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
}

.q-search-bar {
  height: 30px;
  margin-bottom: 10px;
  padding-right: 200px;
  border: 1px solid white;
  position: relative;

  &:focus {
    outline: none;
  }
}

.q-btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border: 1px solid white;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;

  &:focus {
    outline: none;
  }
}

.q-form {
  position: relative;

  &:focus {
    outline: red 1px auto;
  }
}

